// bgs
$darkest-background: #222;
// text colors
$light-text-color: #fff;
$dark-text-color: #888;

* {
    background-color: $darkest-background;
    color: $light-text-color;
    margin: 0 auto;
    padding: 0;
}

ul, li {
    margin: 0;
}
