$primary-dark-background: #222;
$primary-dark-color: #fff;

* {
    background-color: $primary-dark-background;
    color: $primary-dark-color;
    margin: 0 auto;
    padding: 0;
}

ul, li {
    margin: 0;
}
