@import "https://www.nerdfonts.com/assets/css/webfont.css"
// Converted Variables


// Custom Media Query Variables

// not-small
@media only screen and (min-width: 30rem) {
    .debug * { outline: 0.5px solid gold; }
}

// medium
@media only screen and (min-width: 30rem) and (max-width: 60rem) {
    .debug * { outline: 0.5px solid orange; }
}

// large
@media only screen and (min-width: 60rem) {
    .debug * { outline: 0.5px solid red; }
}

/*
  STYLES
  Add custom styles here.
*/

body {
    font-family: 'Rubik', 'sans-serif';
    min-height: 100dvh;
}

footer {
    margin-top: auto;
}
