@import "https://www.nerdfonts.com/assets/css/webfont.css";

body {
    font-family: 'Bitter', sans-serif;
    min-height: 100dvh;
}

// neutrals
$main-black: hsla(36, 11%, 9%, 1);
$main-lightblack: hsla(39, 10%, 27%, 1);
$main-mid: hsla(38, 9%, 46%, 1);
$main-darkwhite: hsla(39, 17%, 64%, 1);
$main-white: hsla(39, 44%, 82%, 1);

// accents
$accent-blue: hsla(181, 17%, 52%, 1);
$accent-lightblue: hsla(182, 36%, 85%, 1);
$accent-purple: hsla(244, 17%, 52%, 1);
$accent-lightpurple: hsla(246, 50%, 80%, 1);
$accent-green: hsla(89, 17%, 52%, 1);

// (semantic) colors
$success: hsla(89, 43%, 38%, 1);
$warning: hsla(41, 43%, 38%, 1);
$error: hsla(8, 43%, 38%, 1);
$info: hsla(198, 43%, 38%, 1);
$other: hsla(288, 43%, 38%, 1);

// media queries
@media (prefers-color-scheme: dark) {
    // modded gruvbox dark
    $bg: #1d2021;
    $bg1: #3c3836;
    $bg0: #282828;
    $bg2: #504945;
    $fg: #ebdbb2;
    $fg0: #fbf1c7;
    $gray: #a89984;
    $blue: #458588;

    body {
        background-color: $bg;
        color: $fg !important;
    }

    * { border-color: $bg2 }
    .blue { color: $blue }
    .bg2 { color: $bg2 }
    .bp-bg { background-color: $bg0 }
}

@media (prefers-color-scheme: light) {
    // modded gruvbox light
    $bg: #fbf1c7;
    $bg0: #f9f5d7;
    $bg1: #ebdbb2;
    $bg2: #d5c4a1;
    $fg: #3c3836;
    $fg0: #282828;
    $gray: #7c6f64;
    $blue: #458588;

    body {
        background-color: $bg;
        color: $fg !important;
    }

    * { border-color: $bg2 }
    .blue { color: $blue }
    .bg2 { color: $bg2 }
    .bp-bg { background-color: $bg0 }
}

// not-small
@media only screen and (min-width: 30rem) {
    .debug * { outline: 0.5px solid gold; }
}

// medium
@media only screen and (min-width: 30rem) and (max-width: 60rem) {
    .debug * { outline: 0.5px solid orange; }
}

// large
@media only screen and (min-width: 60rem) {
    .debug * { outline: 0.5px solid red; }
}
