// neutrals
$primary-900: hsla(36, 11%, 9%, 1); //main bg color
$primary-850: hsla(36, 11%, 15%, 1);
$primary-700: hsla(37, 10%, 31%, 1);
$primary-500: hsla(38, 9%, 46%, 1);
$primary-300: hsla(39, 17%, 64%, 1);
$primary-200: hsla(39, 44%, 82%, 1); //main text color
$primary-100: hsla(38, 44%, 12%, 1);

// accents
$accent-blue: hsla(181, 17%, 52%, 1);
$accent-lightblue: hsla(182, 36%, 85%, 1);
$accent-purple: hsla(244, 17%, 52%, 1);
$accent-lightpurple: hsla(246, 50%, 80%, 1);
$accent-green: hsla(89, 17%, 52%, 1);

[data-theme="dark"] {
  body, select {
    background-color: $primary-900;
    color: $primary-200;
  }
  * {
    border-color: $primary-850;
  }
  .bg2 {
    color: $primary-700;
  }
}

[data-theme="light"] {
  body, select {
    background-color: $primary-200;
    color: $primary-900;
  }
  * {
    border-color: $primary-300;
  }
  .bg2 {
    color: $primary-700;
  }
}

$semantic-colors: (
  success: hsla(89, 43%, 38%, 1),
  warning: hsla(41, 43%, 38%, 1),
  error: hsla(8, 43%, 38%, 1),
  info: hsla(198, 43%, 38%, 1),
  other: hsla(288, 43%, 38%, 1),
);

@each $name, $color in $semantic-colors {
  .#{$name} {
    color: $color;
  }
}

html {
    transition: all 0.1s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

h2,
h4 {
    align-self: flex-start;
}

li {
    list-style-position: inside;
}

body {
  min-height: 100dvh;
  font-family: 'Bitter', sans-serif;
  line-height: normal;
}

ul {
  margin-block: 0;
  padding-inline: 0;
}

pre {
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  overflow: auto;
}

// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
  padding-right: 0.5rem;
}

pre code {
    font-size: 0.875rem !important;
}

.main {
    width: min(100%, 34em + 4rem);
}

.blog-post {
    border-radius: 0.25rem;
    transition: all 0.1s ease-in !important;
    box-shadow: inset 0px 0px 2px 1px hsla(39, 10%, 27%, 0.20);
}

.blog-post.pointer:hover {
    transition: all 0.1s ease-in !important;
    box-shadow: inset 0px 0px 2px 3px hsla(39, 10%, 27%, 0.40);
}

// needed for page content in markdown
.markdown {
  a {
    color: $accent-green;
    text-decoration: none;
    font-weight: bold;
  }

  a:visited {
    color: $accent-purple;
  }

  a:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

// apply style on landing page
.landing h2 {
  font-weight: 900;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.accent {
  color: $accent-green !important;
}

.monofont {
  font-family: 'IBM Plex Mono';
}

.link {
  color: inherit;
}

.link:hover {
  opacity: 0.5;
}

.summary p {
  margin: 0 auto;
}

// small
@media only screen and (max-width: 30rem) {
    .debug * {
        outline: 0.25px solid gold;
    }
}

// medium
@media only screen and (min-width: 30rem) and (max-width: 60rem) {
  .debug * {
    outline: 0.25px solid orange;
  }
}

// large
@media only screen and (min-width: 60rem) {
  .debug * {
    outline: 0.25px solid red;
  }
}
