@import 'https://www.nerdfonts.com/assets/css/webfont.css';

// neutrals
$primary-900: hsla(36, 11%, 9%, 1); //main bg color
$primary-850: hsla(36, 11%, 15%, 1);
$primary-700: hsla(39, 10%, 27%, 1);
$primary-500: hsla(38, 9%, 46%, 1);
$primary-300: hsla(39, 17%, 64%, 1);
$primary-200: hsla(39, 44%, 82%, 1); //main text color
$primary-100: hsla(38, 44%, 12%, 1);

// accents
$accent-blue: hsla(181, 17%, 52%, 1);
$accent-lightblue: hsla(182, 36%, 85%, 1);
$accent-purple: hsla(244, 17%, 52%, 1);
$accent-lightpurple: hsla(246, 50%, 80%, 1);
$accent-green: hsla(89, 17%, 52%, 1);

html {
    transition: all 0.1s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

.blog-post {
    border-radius: 0.25rem;
    transition: all 0.1s ease-in !important;
    box-shadow: inset 0px 0px 2px 1px hsla(39, 10%, 27%, 0.20);
}

.blog-post.pointer:hover {
    transition: all 0.1s ease-in !important;
    box-shadow: inset 0px 0px 2px 3px hsla(39, 10%, 27%, 0.40);
}

// needed for page content in markdown
.markdown {
  a {
    color: $accent-green;
    text-decoration: none;
    font-weight: bold;
  }

  a:visited {
    color: $accent-purple;
  }

  a:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.accent {
  color: $accent-green !important;
}

// (semantic) colors
$success: hsla(89, 43%, 38%, 1);
$warning: hsla(41, 43%, 38%, 1);
$error: hsla(8, 43%, 38%, 1);
$info: hsla(198, 43%, 38%, 1);
$other: hsla(288, 43%, 38%, 1);

.success {
  color: $success;
}
.warning {
  color: $warning;
}
.error {
  color: $error;
}
.info {
  color: $info;
}
.other {
  color: $other;
}

html {
  font-size: 16px;
  line-height: normal;
}

body {
  font-family: 'Bitter', sans-serif;
  min-height: 100dvh;
}

ul {
  margin-block: 0;
  padding-inline: 0;
}

.monofont {
  font-family: 'IBM Plex Mono';
}

.link {
  color: inherit;
}

.link:hover {
  opacity: 0.5;
}

// measure wide + nice value for padding
.main {
  width: calc(34em + 6rem);
}

// TODO: how do I decrease page.summary margin otherwise?
.summary p {
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $primary-900;
    color: $primary-200;
  }

  * {
    border-color: $primary-850;
  }
  .bg2 {
    color: $primary-700;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: $primary-200;
    color: $primary-900;
  }

  * {
    border-color: $primary-300;
  }
  .bg2 {
    color: $primary-700;
  }
}

// small
@media only screen and (min-width: 30rem) {
  .debug * {
    outline: 0.25px solid gold;
  }
}

// medium
@media only screen and (min-width: 30rem) and (max-width: 60rem) {
  .debug * {
    outline: 0.25px solid orange;
  }
}

// large
@media only screen and (min-width: 60rem) {
  .debug * {
    outline: 0.25px solid red;
  }
}
