@use 'base' as b;

body {
    font-family: "Rubik", sans-serif;
}

// main
section { 
    margin: 2em 0em;
}

a, u {
    text-decoration: none;
    font-weight: bold;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-family: "Rubik Mono One";
    margin: 1em 0em;
}

.wrapper {
    height: 100%;
    width: 55%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
        padding: 0.5em 1em;
    }
}

.page-title-subtitle {
    margin: 1em 0em;
    h3 {
        color: b.$dark-text-color;
        font-weight: 400;
    }
}

// nav bar
.navlinks {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
    li:before {
        content: ">"
    }
}
