---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/main-layout.astro";
import '../../styles/blog_post.css'

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry: any) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MainLayout title={entry.data.title}>
  <article>
    <a href="/blog">&lt;= back to posts</a>
    <h2>{entry.data.title}</h2>
    <h4>{entry.data.subtitle}</h4>
    <Content />
  </article>
</MainLayout>
