---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/main-layout.astro";

const isDEV = import.meta.env.DEV;
const allEntries = await getCollection("blog");
const entries = allEntries.filter((e) => (isDEV ? true : !e.data.draft));

function dateSort(a: any, b: any) {
  if (a.data.pub_date > b.data.pub_date) {
    return -1;
  } else if (a.data.pub_date < b.data.pub_date) {
    return 1;
  } else {
    return 0;
  }
}
---

<MainLayout title="blog collection">
  <div class="blog__index">
    <h1>blog posts</h1>
    <p>this is where you'll find all my blog posts.</p>
    <ul>
      {
        entries.sort(dateSort).map((post) => {
          return (
            <li>
              <a
                style={post.data.draft ? "color: cyan" : ""}
                href={`/blog/${post.slug}`}
                data-astro-prefetch
              >
                {post.data.pub_date.toISOString().split("T")[0]} -{" "}
                {post.data.title}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</MainLayout>
