/* Josh's Custom CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  padding-inline: 0;
}

:root {
  --primary-900: hsl(50, 05%, 95%);
  --primary-700: hsl(40, 05%, 70%);
  --primary-500: hsl(40, 05%, 50%);
  --primary-300: hsl(40, 05%, 30%);
  --primary-100: hsl(50, 10%, 10%);
  --green: hsl(90, 50%, 50%);
}

html {
  line-height: 1.5;
  font-family: Writer, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--primary-100);
  color: var(--primary-900);

  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  justify-content: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
}

a,
li {
  transition: all .1s ease-out;
}

li a {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

main a {
  color: var(--green);
}

#root,
#__next {
  isolation: isolate;
}

/* my custom styling */
.wrapper {
  width: min(95ch, 100%);
  min-height: 100dvh;
  padding: 0 1dvw;
  border-left: .5px solid var(--primary-300);
  border-right: .5px solid var(--primary-300);
}

footer {
  padding: .5rem 0rem;
  margin-top: auto;
  border-top: .5px solid var(--primary-300)
}

main {
  width: min(95ch, 100%);
  display: flex;
  flex-direction: column;
  padding: 1dvh 0;
}

.content {
  height: 100%;
  padding: .5rem 0rem
}

nav ul {
  display: flex;
  flex-direction: row;
}

header nav ul {
  justify-content: space-evenly;
}

header nav ul li {
  flex-basis: 100%;
  text-align: center;
  border: .5px solid var(--primary-300);
  background-color: var(--primary-100);
}

header nav ul li a {
  display: inline-block;
  text-align: center;
  padding-top: 0.18rem;
}

header nav ul li:hover {
  filter: invert();
}

.landing .hero p {
  margin-bottom: .5rem
}

.landing>section {
  padding: .5rem 0rem
}

.landing__tidbits {
  border-top: .5px solid var(--primary-300);
  border-bottom: .5px solid var(--primary-300)
}

.resume {
  font-size: 85%
}

.resume ul li {
  list-style: inside;
  list-style-type: square
}

.resume section {
  padding: .5rem 0rem
}

.resume h3 {
  margin-top: .25rem;
  border-bottom: .5px solid var(--primary-300)
}

.resume__header {
  text-align: center
}

.job__detail {
  display: flow-root;
  font-size: 1rem;
  font-weight: 400
}

.job__detail p span {
  font-size: 1.2rem;
  font-weight: 700
}

.job__detail p:nth-child(1) {
  float: left
}

.job__detail p:nth-child(2) {
  font-style: italic;
  float: right
}

.job__title {
  font-style: italic
}

.blog__index a {
  color: inherit;
}

.blog__index ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem 0rem;
}

.blog__index ul li {
  list-style: inside;
  list-style-type: "-"
}

.blog__index ul li:has(> a:hover) {
  list-style-type: ">"
}

.blog__index p {
  padding: .5rem 0rem;
  border-bottom: .5px solid var(--primary-300)
}

.now__title {
  padding-bottom: 1rem
}

.now__grid {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  margin-top: 1.5rem
}

.now__grid section:not(:last-child) {
  border-right: .5px solid var(--primary-300)
}

.newsletter__btn {
  border: .5px solid var(--primary-900);
  color: var(--primary-900);
  padding: .125rem .5rem;
  border-radius: .125rem;
  margin-left: .25rem;
}

.inspirations ul {
  padding: 1rem 0rem
}

.inspirations ul li {
  list-style: inside;
  list-style-type: "- "
}

@media screen and (max-width: 700px) {
  .wrapper {
    border: 0 !important;
  }

  body {
    padding: 0 2dvw;
  }

  .now__grid {
    grid-template-columns: 1fr
  }
}
