@font-face {
  font-family: 'Writer';
  src: local('Writer Medium'), local('Writer-Medium'),
    url('../assets/fonts/Writer-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Writer';
  src: local('Writer Medium Italic'), local('Writer-MediumItalic'),
    url('../assets/fonts/Writer-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Writer';
  src: local('Writer Italic'), local('Writer-Italic'),
    url('../assets/fonts/Writer-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Writer';
  src: local('Writer SemiBold'), local('Writer-SemiBold'),
    url('../assets/fonts/Writer-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Writer';
  src: local('Writer Bold'), local('Writer-Bold'),
    url('../assets/fonts/Writer-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Writer';
  src: local('Writer Bold Italic'), local('Writer-BoldItalic'),
    url('../assets/fonts/Writer-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Writer';
  src: local('Writer Regular'), local('Writer-Regular'),
    url('../assets/fonts/Writer-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Writer';
  src: local('Writer SemiBold Italic'), local('Writer-SemiBoldItalic'),
    url('../assets/fonts/Writer-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
