/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
  --w-900: #fafafa;
  --w-500: #7c7c7c;
  --w-300: #3d3d3d;
  --w-100: #1a1a1a;
  --green: #72a036;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  margin-block: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html {
  font-family: 'Writer', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--w-100);
  color: var(--w-900);
  line-height: 1.6;
}

body {
  display: flex;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
}

main {
  min-height: 100dvh;
  width: min(95ch, 100%);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
  border-right: 0.5px solid var(--w-300);
  border-left: 0.5px solid var(--w-300);
}

.content {
  height: 100%;
  padding: 0.5rem 0rem;
}

footer {
  margin-top: auto;
}

nav ul {
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  gap: 1rem;
}

header nav ul {
  justify-content: space-evenly;
  gap: 0rem;
}

header nav ul li {
  flex-basis: 100%;
  text-align: center;
  background-color: var(--w-100);
  border: 0.5px solid var(--w-300);
}

header nav ul li a {
  display: inline-block;
  padding-top: 0.18rem;
  width: 100%;
}

ul li a {
  color: inherit;
}

header nav ul li:hover {
  filter: invert();
}

a {
  color: var(--green);
  text-decoration: none;
}

a,
li {
  transition: 0.2s ease-out;
  transition-property: filter;
}

.landing {
  margin: auto 0;
}

.landing .hero p {
  margin-bottom: 0.5rem;
}

.landing>section {
  padding: 0.5rem 0rem;
}

.landing a:hover {
  filter: brightness(80%);
}

.landing__tidbits {
  border-top: 0.5px solid var(--w-300);
  border-bottom: 0.5px solid var(--w-300);
}

.resume {
  font-size: 85%;
}

.resume a {
  color: inherit;
}

.resume ul li {
  list-style: inside;
  list-style-type: square;
}

.resume section {
  padding: 0.5rem 0rem;
}

.resume h3 {
  margin-top: 0.25rem;
  border-bottom: 0.5px solid var(--w-300);
}

.resume__header {
  text-align: center;
}

.job__detail {
  display: flow-root;
  font-size: 1rem;
  font-weight: 400;
}

.job__detail p span {
  font-size: 1.2rem;
  font-weight: 700;
}

.job__detail p:nth-child(1) {
  float: left;
}

.job__detail p:nth-child(2) {
  font-style: italic;
  float: right;
}

.job__title {
  font-style: italic;
}

.blog__index ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blog__index ul li {
  width: fit-content;
  list-style: inside;
  list-style-type: "- ";
}

.blog__index ul li:hover {
  font-weight: bold;
  list-style-type: "> ";
}

.blog__index p {
  margin: 0rem 0rem 1rem 0rem;
  padding: 0.5rem 0rem;
  border-bottom: 0.5px solid var(--w-300);
}

.blog__post {
  font-size: 90%;
  line-height: 1.6;
}

.blog__post p {
  margin-bottom: 1rem;
}

.blog__subtitle {
  font-weight: 400;
  color: var(--w-500);
}

.now__title {
  padding-bottom: 1rem;
}

.now__grid {
  display: none;
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  margin-top: 1.5rem;
}

.now__grid section:not(:last-child) {
  border-right: 0.5px solid var(--w-300);
}

label[for=email] {
  margin-right: 0.25rem;
}

.newsletter__btn {
  border: 0.5px solid var(--w-900);
  background-color: var(--w-100);
  color: var(--w-900);
  padding: 0.125rem 0.5rem;
  border-radius: 0.125rem;
  margin-left: 0.25rem;
}

.inspirations ul {
  padding: 1rem 0rem;
}

.inspirations ul li {
  list-style: inside;
  list-style-type: '- ';
}

/* media queries */
@media screen and (max-width: 700px) {
  main {
    padding: 0rem 0.75rem;
  }

  .now__grid {
    grid-template-columns: 1fr;
  }
}
