@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    @apply bg-cod-gray-100 text-cod-gray-950 dark:bg-cod-gray-950 dark:text-cod-gray-50;
  }
}

@layer components {
  .border-all {
    @apply border border-cod-gray-950/30 dark:border-cod-gray-50/30;
  }
}

.cv {
  h1 {
    font-weight: 900;
  }
  h2 {
    font-weight: 700;
    margin: 1vh 0;
  }
  ul {
    margin: 2vh 0;
  }
}
