@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
    font-weight: bold;
}

html {
    --text-color: black;
    --background-color: white;

    color: var(--text-color);
    background-color: var(--background-color);
}

html.dark {
    --text-color: white;
    --background-color: black;
}
