---
import MainLayout from "../layouts/main-layout.astro";

const url = Astro.url;
---

<MainLayout title="404 page">
  <section>
    <p>
      no route matches
      <span id="pathname">{url.pathname}</span>
      (yet)
    </p>
  </section>
</MainLayout>

<style>
  section {
    padding: 0.5rem 0;
  }

  #pathname {
    font-weight: bold;
    font-style: italic;
  }
</style>
