---
import MainLayout from "../layouts/main-layout.astro";
import { differenceInYears } from 'date-fns';

const birthDate = new Date('2000-06-09');
const today = new Date();
const age = differenceInYears(today, birthDate);
---

<MainLayout title="luchetti.dev">
  <div class="landing">
    <div class="hero">
      <h1>luchetti.dev</h1>
      <p>hi, glad to have you! this is my blog/portfolio.</p>
      <p>
        i like to share things i've learned over the years, as a
        developer, a gamer, and as someone that has always wanted to get to the bottom of
        things.
      </p>
      <p>
        here you'll find my <a href="/blog">ramblings</a>, what i'm up to <a
          href="/now">nowadays</a
        > and a (hopefully) up-to-date <a href="/resume">copy of my CV</a>.
      </p>
    </div>
    <section class="landing__tidbits">
      <h3>some tidbits:</h3>
      <p>
        {age}, terminal-fiend, keyboard-centered, cat owner, CS2 afficionado
      </p>
    </section>
    <section>
      <form
        action="https://buttondown.email/api/emails/embed-subscribe/gusluchetti"
        method="post"
        target="popupwindow"
        class="embeddable-buttondown-form"
      >
        <label for="email">newsletter:</label>
        <input type="email" name="email" placeholder="you@example.com" />
        <input type="hidden" value="1" name="embed" />
        <input class="newsletter__btn" type="submit" value="Subscribe" />
      </form>
    </section>
  </div>
</MainLayout>
