---
import MainLayout from '../layouts/main-layout.astro'
---

<MainLayout title="now page">
  <div class="now__title">
    <h1>nowadays</h1>
    <h4 class="blog__subtitle">last_update: 2025-03-09 | <a href="https://sive.rs/nowff">what's a now page?</a>
    </h4>
  </div>
  <p>
    hi! long time no see.
    just updated the website today, including a 'dark-mode' pdf based on my resume's tex file, which is one
    thing i've always wanted to have a single source of truth for.
  </p>
  <br>
  <p>
    life has been good! i moved to a new place at the end of 2024, and work has been great 
    (not a junior analyst anymore!). work has taken up most of my time, so i'm mostly figuring out 
    next steps for our architecture, which will probably involve mobile/offline capabilities. exciting stuff.
  </p>
  <br>
  <p>
    also, i've got a 'notebook homeserver' up and running! it's been steadily running Arch for the past couple
    of months without any issues. for now, i'm only running the arr-suite, and i spin up a minecraft server every so often,
    but i'd love to setup PiHole and some other quality of life stuff at some point. oh! game streaming from
    my main PC to the TV works flawlessly, so i can finally game on the couch. 
  </p>
  <br>
  <p>
    since i mentioned gaming, no news in that front, CS2 still reigns as most played. it's gotten much better since early 2023. 
    performance-wise it's still a struggle (to get over 300 FPS), so a GPU upgrade might be in the horizon...
  </p>
  <br>
  <p>
    Looking forward to <a href="https://store.steampowered.com/app/1588550/Cairn/">Cairn</a>!
  </p>

  <div class="now__grid">
    <section>
      <h3>books</h3>
    </section>
    <section>
      <h3>media</h3>
    </section>
    <section>
      <h3>others?</h3>
    </section>
  </div>

</MainLayout>
