<footer>
  <span>extras:</span>
  <ul>
    <li><a href="https://github.com/gusluchetti">github</a></li>
    <li><a href="/inspirations">inspirations</a></li>
  </ul>
</footer>

<style>
  footer ul {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
  }

  span {
    display: inline;
  }
</style>
