<header>
  <nav>
    <ul>
      <li><a href="/" data-astro-prefetch>home</a></li>
      <li><a href="/blog" data-astro-prefetch>blog</a></li>
      <li><a href="/now" data-astro-prefetch>now</a></li>
      <li><a href="/cv" data-astro-prefetch>cv</a></li>
    </ul>
  </nav>
</header>
