<header>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/blog/">blog</a></li>
      <li><a href="/now/">now</a></li>
      <li><a href="/cv/">cv</a></li>
    </ul>
  </nav>
</header>
