<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="color-scheme" content="dark light">
    <title>luchetti.dev</title>
    <link rel="stylesheet" href="{{get_url(path="fonts.css", trailing_slash=false)}}">
    <link rel="stylesheet" href="{{get_url(path="tachyons.css", trailing_slash=false)}}">
    {% endblock %}
</head>

<body class="flex justify-center pa1">
    <div class="w-80-ns w-95-m flex flex-column items-center">
        <header class="w-two-thirds flex flex-column items-center justify-center">
            <h1 class="mv2">
                <a class="link dim fw8" href="/">luchetti.dev</a>
            </h1>
            <ul class="w-80 w-40-ns pl0 flex flex-row-ns list justify-around">
                <li>
                    {% set blog = get_section(path="blog/_index.md", lang=lang, metadata_only=true) %}
                    <a class="link dim fw7 f2 f3-ns text" href="{{blog.path}}">
                        {{blog.title}}
                    </a>
                </li>
                <li><a class="fw4 f2 f3-ns text">.</a></li>
                <li>
                    {% set now = get_section(path="now/_index.md", lang=lang, metadata_only=true) %}
                    <a class="link dim fw7 f2 f3-ns text" href="{{now.path}}">
                        {{now.title}}
                    </a>
                </li>
            </ul>
        </header>
        <div class="w-two-thirds-l w-90-m w-95 bt bb pv1 ph2">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="pv2 w-33-ns w-70">
            {% block footer %}
            <div class="flex flex-row">
                <div class="flex flex-column br">
                    <a class="link b i f4-ns f2 lh-solid">find me at</a>
                    <ul>
                        <i class="nf nf-oct-mail dim f2-ns f3-m f3" href="mailto:gustavo@luchetti.dev"></i>
                        <i class="nf nf-dev-github_alt dim f2-ns f3-m f3" href="https://github.com/gusluchetti"></i>
                        <i class="nf nf-fa-linkedin_square dim f2-ns f3-m f3" href="https://www.linkedin.com/in/gustaluchetti/"></i>
                    </ul>
                </div>
                <div class="flex flex-column">
                    <p> Current Theme: <i class="nf nf-oct-moon ba br2 f4-ns pa1"></i> </p>
                    <p> Current Language: <i></i> </p>
                </div>
            </div>
            {% endblock %}
        </footer>
    </div>
</body>

</html>
