<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>luchetti.dev</title>
  <link rel="stylesheet" href="{{get_url(path="fonts.css", trailing_slash=false)}}">
  <link rel="stylesheet" href="{{get_url(path="tachyons.css", trailing_slash=false)}}">
</head>

<body class="flex justify-center bg-near-black near-white">
    <div class="w-80-ns w-90 flex flex-column items-center"> 
        <header class="w-two-thirds">
            <div>
                <h1 class="tracked mt0">
                    <a class="link b near-white dim"href="/">luchetti.dev</a>
                </h1>
            </div>
            <div>
                <ul class="flex flex-row-ns list pl0 justify-between">
                    <li><a class="link near-white dim" href="{{get_url(path='@/about/_index.md')}}">about/cv</a></li>
                    <li><a class="link near-white dim" href="{{get_url(path='@/now/_index.md')}}">now</a></li>
                    <li><a class="link near-white dim" href="{{get_url(path='@/blog/_index.md')}}">blog</a></li>
                    <li><a class="link near-white dim" href="{{get_url(path='@/projects/_index.md')}}">projects</a></li>
                </ul>
            </div>
        </header>
        <div class="bt bb b--gray pv1 ph3 w-two-thirds">
          {% block content %} {% endblock %}
        </div>
        <footer class="w-33">
          <a class="link gray i f3-ns lh-solid">find me at</a>
          <div class="flex flex-row items-baseline justify-around mt3">
              <i class="nf nf-oct-mail dim f2" href="mailto:gustavo@luchetti.dev"></i>
              <i class="nf nf-dev-github_alt dim f2" href="https://github.com/gusluchetti"></i>
              <i class="nf nf-fa-linkedin_square dim f2" href="https://www.linkedin.com/in/gustaluchetti/"></i>
          </div>
        </footer>
    </div>
</body>

</html>
