{% extends "base.html" %} {% block content %}
<div class="flex flex-column items-center">
    <a href="../" class="bg2 f5 ma0 mt1 i b text monofont self-start pointer">
        &lt;- back to posts
    </a>
        <h2 class="text fw9 mv1 tc">{{ page.title }}</h2>
        <h4 class="monofont i fw7 mv1 tc bg2">{{ page.description }}</h4>
        <h4 class="monofont i fw4 mv0 mb2 bg2 te">
            <strong>
                {{ page.reading_time }} min read
            </strong> -- {{ page.word_count }} word(s)
        </h4>
    <div class="markdown text lh-copy measure-wide">
        {{ page.content | safe }}
    </div>
    <p class="bg2 f5 ma0 mt1 i text monofont self-end">
        posted <strong>{{page.date}}</strong>
    </p>
</div>
{% endblock content %}
