{% extends "base.html" %} {% block content %}
<div class="flex flex-column items-center">
  <h2 class="fw9 mv1 b text tc">Blog posts</h2>
</div>
<div class="mv2">
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
  {% for page in section.pages %}
  <div class="blog-post mv2 pv2-ns pv1 ph3-ns ph2 pointer" onclick="window.location='{{ page.permalink }}';">
    <div class="mv1 flex-m flex-column-s justify-between monofont">
        <p class="mv0 fw7 f5-ns f6"> &gt; {{ page.title | lower }}</p>
      <p class="mv0 bg2 b f6-ns f7">{{page.date}}</p>
    </div>
    <div class="pv2 summary tj">{{page.summary | safe}}</div>
    <a class="f5-ns f6 link accent monofont dib mv1" href="{{ page.permalink }}#continue-reading">
        <i>Continue reading...</i>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock content %}
