<div class="flex flex-row-ns flex-column justify-between f5-ns f6 items-center">
<p class="mv1">{{ trans(key="footer_other", lang=lang) }}:</p>
  <ul class="mv1 flex list justify-center items-center">
    <li>
      <a class="link ph2" href="https://github.com/gusluchetti">github</a>
    </li>
    <li>|</li>
    <li>
      <a class="link ph2" href="https://www.linkedin.com/in/gustaluchetti/">linkedin</a>
    </li>
    <li>|</li>
    <li>
      <a class="link ph2" href="mailto:gustavo@luchetti.dev">email</a>
    </li>
  </ul>
</div>
