<div class="flex flex-row-ns flex-column justify-between f5-ns f6 items-center">
  <div class="f7 flex flex-column-ns flex-row">
    <select class="m1" id="theme">
      <option value="dark">dark</option>
      <option value="light">light</option>
    </select>
    <select class="m1" id="lang">
      <option value="en">en-us</option>
      <option value="br">pt-br</option>
    </select>
  </div>
  <ul class="flex list justify-center items-center">
    <li>
      <p class="b">links:</p>
    </li>
    <li>
      <a class="link ph1 ph2-ns i" href="https://github.com/gusluchetti">github</a>
    </li>
    <li>|</li>
    <li>
      <a class="link ph1 ph2-ns i" href="https://www.linkedin.com/in/gustaluchetti/">linkedin</a>
    </li>
    <li>|</li>
    <li>
      <a class="link ph1 ph2-ns i" href="mailto:gustavo@luchetti.dev">email</a>
    </li>
  </ul>
</div>
