{% extends "base.html" %} {% block content %}
<div class="flex flex-column items-center justify-center tj">
  <h2 class="fw9 mv1 b text tc">About Me</h2>
  <p class="mt1 mb3 measure-wide text lh-copy">
  Hi! My name is <strong>Gustavo Luchetti</strong>, a 23 year-old full-stack developer currently 
    based in São Paulo, Brazil. Although vague, I'd say 'liking computers' is my main hobby.  
    I'm usually near one, and I've been interested in them for various reasons over the years: as a kid, for gaming
    on the cheap, as a teenager, I managed to build my own PC, and these days, for all sorts 
    of programming related subjects.
  </p>
  <h2 class="fw9 mv1 b text tc">Things I like</h2>
  <p class="mt1 mb3 measure-wide text lh-copy">
  Web development (for work), artificial intelligence/data science, 
  code automation (infrastructure as code, CI/CD, etc). and very recently,
  a bit of networking (configured my own homelab!).
  </p>
  <p class="mt1 mb3 measure-wide text lh-copy">
    I became very fond of A.I. in college, which led to my pursuit of an A.I. masters  
    degree in the Netherlands, at Utrecht University. Although I had to pause my studies, I ended up
    working at <a class="link accent" href="https://source.ag">Source.Ag</a>, 
    a fantastic A.I. startup that focused on increasing productivity
    for growers. With productivity in mind, I got quite deep in the Linux rabbit hole,
    from researching different window managers to tinkering my 
    <a class="link accent" href="https://neovim.io">Neovim</a> configuration
    file daily. I've mostly recovered, but I keep looking into ways to speed up my workflow.
  </p>
  <h2 class="fw9 mv1 b text tc">Purpose</h2>
  <p class="mt1 mb3 measure-wide text lh-copy">
  I see this website as both <strong>journal and portfolio</strong>. It’s very easy these 
    days to consume content (or code) and to never give back, so this is my way of 
    remeding that. My current goal is to write a blog post once a month, at the very least. 
    I’ll try my best to stick to that schedule.</p>
</div>
{% endblock content %}
