{% extends "base.html" %}
{% block content %}

{% set image = resize_image(path="static/images/profile-pic.jpeg", width=160, height=160, op="fill") %}
{% set first_post = get_url(path="@/blog/getting_over_it.md") %}

<div class="flex flex-column items-center">
</div>
<div class="flex flex-column items-center justify-center">
    <p class="mr2-l measure-wide text i warning">
        Disclaimer: This is still a <span class="b">WIP</span>. 
        Let me know If something doesn't look right! 
    </p>
    <img src="{{ image.url }}" class="fl" />
    <div class="flex flex-column">
        <p class="f4 b mv3 text tc">
            Who am I?
        </p>
        <p class="mr2-l measure-wide text">
            Hi! I'm Gustavo Luchetti, 23. I'd like this website to be something
            I can always refer to when someone asks wants to know more about me, or what I'm currently up to.
        </p>
        <p class="mr2-l measure-wide text">
            Speaking of, I have 2+ years experience as a full-stack dev, and am currently working at 
            <span class="i b">Nitro Química</span>, based in Brazil! 
            I'm looking to broaden my knowledge in the data-science field, but do get in touch
            if you're looking for someone driven and ready to take on interesting projects!
        </p>
    </div>
</div>
{% endblock content %}
