{% extends "base.html" %}

{% block content %}
<div class="flex flex-column items-center">
    <p class="f4 fw7 mv3">
        what am I up to nowadays?
    </p>
    <div class="measure-wide-ns lh-copy tj flex flex-column items-center">
        <p>
            I'm looking for work, but I'm currently very deep in the recruitment process for an awesome company! Hopefully I'll be able to share more by next week.
        </p>
        <p>
            In other non-work-related news, I've put in a LOT of work over the past week into my new fedora config (checkout my dots repository!), and this website!
            I managed to get YUZU working on my PC, but I haven't gotten too far in Zelda TOTK. ACNH is my new go-to when I'm bored.
        </p>
    </div>
    <p class="bg2 f5 mv3 i">
        last updated <strong>2023-06-05</strong> | 
        <a class="blue link dim" href="https://sive.rs/nowff">what's a now page?</a> 
    </p>
</div>
{% endblock content %}
