{% extends "base.html" %} {% block content %}
<div class="flex flex-column items-center">
  <h2 class="fw9 mv1 b text tc">Nowadays</h2>
  <div class="measure-wide-ns lh-copy tj flex flex-column items-center">
    {{page.content | safe}}
  </div>
  <div class="flex flex-column i text monofont self-end f5-ns f7">
    <p class="bg2 ma0 mt1">last updated <strong>{{page.updated}}</strong></p>
    <a class="link dim accent b self-end" href="https://sive.rs/nowff">what's a now page?</a>
  </div>
</div>
{% endblock content %}
