---
import { ViewTransitions } from "astro:transitions";
import "../styles/main.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<html lang="en" transition:animate="none">
  <head>
    <ViewTransitions />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preload" href="/dark-cv.pdf" as="fetch" type="application/pdf" crossorigin="anonymous">
    <link rel="preload" href="/light-cv.pdf" as="fetch" type="application/pdf" crossorigin="anonymous">
    <title>{title}</title>

  </head>

  <body>
    <div class="wrapper">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
